<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "me.drucko.employees"
        versionCode="10"
        version   = "1.1.0">

    <!-- versionCode is optional and Android only -->

    <name>Employee Directory</name>

    <description>
        A simple employee directory application
    </description>

    <author href="http://www.drucko.at" email="drucko76@gmail.com">
        Christophe Coenraets
    </author>

</widget>
